.App {
  text-align: center;
  background-color: rgb(226, 251, 251);
}

.nav-bar {
  background-color: blue;
  padding: 20px;
}

Link.nav-item, :link {
  color: aliceblue;
  margin: 15px;
}

/* Link.nav-item, :visited {
  color: aliceblue;
  margin: 15px;
}

Link.nav-item, :active {
  color: aliceblue;
  margin: 15px;
} */

#home {
  font-size:xx-large;
  height: fit-content;
}

.review {
  padding: 40px;
  list-style: none;
}

#review-header {
  font-size: xx-large
}

.review-info {
  padding: 20px;
}

#comments-section {
  margin: 40px;
}

.comment {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  list-style: none;
}

#reviews-title {
  font-size: xx-large;
}

h2#review-title, :link {
  color: black;
  text-decoration: none;
}

h2#review-title, :visited {
  color: black;
  text-decoration: none;
}

/* #review-title, :hover {
  color: rgb(255, 0, 0);
} */

h2#review-title, :active {
  color: black;
  text-decoration: none;
}