.App {
  text-align: center;
  background-color: #d1f6ed;
  display: grid;
}

.nav-bar {
  background-color: blue;
  padding: 20px;
}

.nav-item {
  color: aliceblue;
  margin: 15px;
}

.nav-item, :visited {
  color: aliceblue;
  margin: 15px;
}

#category-li {
  display: inline-block;
  overflow: hidden;
  width: 8vw;
  height: 10vh;
  margin: 2vh;
  border: black solid 1px;
  padding: 2px;
  background-color: aliceblue;
  list-style: none;
  color: black;
}

#category-li, :visited {
  color: black;
}

#home {
  font-size:xx-large;
}

.review {
  display: inline-block;
  /* white-space: nowrap; */
  overflow: hidden;
  width: 20vw;
  height: 30vh;
  margin: 2vh;
  border: black solid 1px;
  padding: 15px;
  background-color: aliceblue;
}

#review-header {
  font-size: xx-large
}


#home {
  font-size:xx-large;
  height: fit-content;
  }

.review {
  padding: 40px;
  list-style: none;
}

#review-header {
  font-size: xx-large
}

.review-info {
  padding: 20px;
}

#comments-section {
  margin: 40px;
}

.comment {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  list-style: none;
  background-color: aliceblue;
}

#reviews-title {
  font-size: xx-large;
}

#review-title {
  font-size: medium;
  color: black;
  text-decoration: none;
}

#review-list-img {
  max-height: 50%;
  max-width: 50%;
}

h2#review-title, :active {
  color: black;
  text-decoration: none;
}