.App {
  text-align: center;
  /* background-color: #d1f6ed; */
  display: grid;
}

.nav-bar {
  background-color: rgb(0, 0, 0);
  padding: 20px;
}

#nav-item {
  color: rgb(202, 9, 9);
  margin: 15px;
}

#subtitle-home {
  font-size: large;
}

#nc-logo {
  width: 50%;
  padding: 20px;
}

#category-li {
  display: inline-block;
  overflow: hidden;
  margin: 2vw;
  padding: 10px;
  background-color: aliceblue;
  list-style: none;
  color: black;
  box-shadow: 0px 5px 5px hsl(0, 0%, 33%);
}

#category-li,
:visited {
  color: black;
  background-color: rgb(245, 148, 148);
}

#home {
  font-size: xx-large;
}

.review {
  box-shadow: 0px 7px 7px hsl(0, 0%, 33%);
  align-items: center;
  background-color: rgb(245, 148, 148);
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1%;
}

#review-body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#review-header {
  font-size: xx-large;
}

#home {
  font-size: xx-large;
  height: fit-content;
}

#review-header {
  font-size: xx-large;
}

.review-info {
  display: block;
  padding: 20px;
  align-items: center;
}

#comments-section.center {
  margin: auto;
  align-items: center;
}

.ReviewExtraInfo {
  text-align: center;
  display: grid;
}

.comment {
  align-items: center;
  list-style: none;
  box-shadow: 0px 7px 7px hsl(0, 0%, 33%);
  background-color: rgb(245, 148, 148);
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 4%;
}

.comments-section {
  padding: 2%;
}

#comment-body {
  font-size: x-large;
  margin: 2%;
}

#comment-submit-button {
  margin: 1%;
}

#delete-button {
  align-self: center;
  width: 40%;
  border-radius: 10%;
  padding: 1%;
}

#reviews-title {
  font-size: xx-large;
}

#review-title {
  font-size: large;
  color: black;
  text-decoration: underline;
}

#review-list-img {
  height: 20vh;
  padding: 15px;
}

/* h2#review-title,
:active {
  color: black;
  text-decoration: none;
} */

.clicked {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#button-clicked {
  border-radius: 10%;
  font-size: medium;
  background-color: rgb(202, 9, 9);
  color: #ffffff;
  padding: 1%;
  margin: 1%;
}

#filter-button {
  border-radius: 10%;
  padding: 1%;
  margin: 1%;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}

#vote-button {
  font-size: large;
  margin: 1%;
}

.votes {
  padding: 1%;
}
